body {
    background: #caf0f8;
}

.container {
    background: #ade8f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 350px;
    min-height: 500px;
    margin-left: 500px;
    margin-top: 50px;
    border: solid 3px #023e8a;
    border-radius: 5px;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: solid 2px #023e8a;
    background: #ffff;
}

button {
    background: #023e8a;
    padding: 10px 70px;
    border: solid 2px #023e8a;
    border-radius: 3px;
    color: #ffff;
    margin: 10px;
}